body{
	margin: 0;
	padding: 0;
}
/*header start*/
header{
	padding: 10px 0;

}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;

}
.logo{
	float: left;
	width: 17%;
}
.logo img{
	width: 100%;
	
}
.menu{
	margin-top: 12px;
	float: right;
	width: 75%;

}
.menu ul{
	float: right;

}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family:sans-serif;
	font-size:16px;
	font-weight:normal;
	font-color:#535d69;
	text-decoration: none;
	padding:0 20px;
	display:inline-block;
	transition: .3s;
}
.menu ul li a:hover{
	color: red;

}
.menu ul li:last-child a{
	padding: 0;
} 
/*header end*/
/*baner start*/
.baner-wrapper{
	background: url(../images/notary.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0;

}
.baner h1{
	font-size: 40px;
	font-weight: 600;
	color: white;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.baner p{
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height: 150%;

}
.baner a{
	padding: 10px 30px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: red;
	display: inline-block;
}
/*baner end*/

/*work section start*/

.work h2{
	margin : 40px 500px;
	font-size: 25px;
	font-weight: 600;
}
.work p{
	margin: auto 300px;
	font-size: 15px;
}

/*work section end*/